body {
    background-color:floralwhite;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: coral;
    
}


.navbar-brand{
	font-family: 'Poppins',serif;
	font-weight: 800;
	font-size: 20px;
    margin-left: auto;
    
}


p{
    font:font-family: 'Poppins', sans-serif;
    color:dimgrey;
    
}

footer.footer{
	background-color:#2d3238;
	border-radius: .3rem;
	text-align: center;
	padding: 5px 5px;
}

small{
    color:darkgray;
}


table{
    background-color:whitesmoke;
    color: dimgrey;
}

thead{
    background-color: antiquewhite;
}

td{
   background-color:aliceblue;
}

